* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.lightgreen-container {
    background-color: lightgreen;
    padding: 40px 0px;
}

#mountaindew-original {
    width: 18%;
}

.single-column {
    margin: 30px 0px;
    text-align: center;
}

.orange-container {
    background-color: orange;
    padding: 40px 0px;
}

#capriorangesun {
    width: 26%;
}

.single-column {
    margin: 30px 0px;
    text-align: center;
}
