* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.lightgreen-container {
    background-color: lightgreen;
    padding: 40px 0px;
}

#mountaindew-original {
    width: 18%;
}

.single-column {
    margin: 30px 0px;
    text-align: center;
}

.red-container {
    color: white;
    background-color: rgb(255, 86, 86);
    padding: 40px 0px;
}

#mountaindew-codered {
    width: 18%;
}

.single-column {
    margin: 30px 0px;
    text-align: center;
}

.aquamarine-container {
    background-color: aquamarine;
    padding: 40px 0px;
}

#mountaindew-bajablast {
    width: 18%;
}

.single-column {
    color: black;
    margin: 30px 0px;
    text-align: center;
}