* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* flexbox container */
#two-columns {
    display: flex;
}

/* flexbox container */
#sidebar-content h2 {
    width: 200px;
    order: 2;
    padding: 12px 0px;
    margin-top: 24px;
}

/* flexbox item */
#sidebar-content {
    background-color: rgb(255, 180, 68);
    /* flex: 1; */
    width: 250px;
    /* order: 3; */
    padding: 0px 24px;
    border-right: 2px solid rgb(203, 158, 54);
}

#sidebar-content h2 {
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 2px;
}

#sidebar-content ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

/* flexbox item */
#main-content {
    flex: 1;
    /* order: 1; */
    padding: 48px;
}

#main-content h3 {
    border-bottom: 1px solid black;
    padding: 2px;
}