/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1 {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 350px;
    border: 2px;
    background-color: rgb(226, 250, 226);
    margin-bottom: 24px;
}

.card-style-1 img {
    height: 260px;
    padding: 0px;
}

.card-style-1 h2 {
    padding-right: 26px;
    text-align: center;
    font-size: 25px;
    padding-top: 2px;
}

.card-style-1 p {
    font-size: 17px;
    margin-left: 14px;
    padding: 0px;
    margin-right: 4px;
    padding-bottom: 2px;
    flex: 1;
}

.card-style-1 a {
    text-decoration: none;
    color: rgb(225, 252, 225);
    background-color: rgb(1, 133, 1);
    padding: 23px;
    text-align: center;
    font-size: 22px;
}

.card-style-1 :hover {
    transition: 
        background-color 10s,
        color 10s;
    transform: translateX(-50deg);
    box-shadow: 4px 4px 10px #000000;
}