/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.wavepainting {
    width: 100px;
    height: 110px;
    border: outset 6px brown;
    margin: 18px;
    padding: 10px;
    background-color: bisque;
    display: inline-block;

}

.acrylicpaintcolors {
    width: 110px;
    height: 100px;
    margin: 16px;
    padding: 10px;
    border: outset 6px rgb(239, 104, 51);
    background-color: lightcoral;
    display: inline-block;
}

.disneyworld {
    width: 112px;
    height: 105px;
    margin: 16px;
    padding: 10px;
    border: 6px outset rgb(89, 35, 139);
    background-color: rgb(230, 46, 230);
    display: inline-block;
}

.art-gallery {
    width: 90px;
    margin: 16px;
    display: inline-block;
    border: 6px outset blue;
    background-color: aquamarine;
}