* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#color-palette-1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#color-1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 24px;
    background-color: #CE2121;
    color: white;
}

#color-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
    background-color: #F57A00;
    color: black;
}

#color-3 {
    font-family: cursive;
    text-align: center;
    padding: 24px;
    background-color: #F53C8C;
    color: black;
}

#color-4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
    background-color: #2F00FF;
    color: white;
}

#color-palette-2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#color-5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #FFD500;
    color: black;
}

#color-6 {
    font-family: 
        'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #690D3E;
    color: white;
}

#color-7 {
    font-family: sans-serif;
    text-align: center;
    padding: 25px;
    background-color: #9C0075;
    color: white;
}

#color-8 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #820000;
    color: white;
}

#color-9 {
    font-family: serif;
    text-align: center;
    padding: 24px;
    background-color: #FF1900;
    color: white;
}

#color-10 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #F75D5D;
    color: black;
}

#color-palette-3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#color-11 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 24px;
    text-align: center;
    background-color: #0D695B;
    color: white;
}

#color-12 {
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
        'Lucida Sans', Arial, sans-serif;
    padding: 24px;
    text-align: center;
    background-color: #639C00;
    color: black;
}

#color-13 {
    font-family: 
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
        sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #00824A;
    color: white;
}

#color-14 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #B7FF00;
    color: black;
}

#color-15 {
    font-family:
        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
        sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #054605;
    color: white;
}