* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* grid container */
#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"; 
        background: radial-gradient(
            rgb(255, 0, 0), 
            rgb(221, 0, 255)
        );
}

/* grid item */
#header {
    /* background-color: lightgreen; */
    grid-area: header;
    padding: 0px 36px;
}

/* grid item  */
#sidebar {
    color: white;
    grid-area: sidebar;
    padding: 0px 24px;
    display: inline-block;
}

/* grid item */
/* flexbox container */
#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #ffffff;
}

#header #tube {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 12px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #aaaaaa;
}

#sidebar ul a {
    text-decoration: none;
    color:#111111;
    display: block;
    padding: 12px;
    color: white;
}

/* pseudo-class */
#sidebar ul a:hover {
    background-color: #fd0000;
    border-radius: 12px;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item img {
    width: 400px;
    border-radius: 8px;
}

.metube-item h4 {
    margin: 8px;
    color: white;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
    color: white

}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
    color: white;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}