* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    /* background-color: red; */
    padding: 20px;
}

#navbar a {
    color: purple;
    text-decoration: none;
    font-size: 26px;
    margin-left: 36px;
}

#navbar-bottom {
    display: flex;
    justify-content: space-between;

}

#navbar-bottom a {
    text-decoration: none;
    color: purple;
    padding: 12px 26px;
    font-size: 16px;
}

#hero-banner {
    padding: 120px;
    margin: 16px;
    border: 3px solid black;
    background-color: blueviolet;
}

#hero-banner h1 {
    text-align: center;
}

#hero-banner h3 {
    text-align: center;
}