@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Text:ital@0;1&family=Emilys+Candy&family=Jua&family=Maname&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Spicy+Rice&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(
        rgb(255, 241, 120), 
        rgb(253, 182, 38)
    );
}

/* Beginning hero ****************************************************/
#hero {
    background-image: url("../images/food-hero.jpg");
    height: 460px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#hero h2 {
   font-size: 38px;
   position: absolute;
   left: 58%;
   top: 20%;
}

#hero p {
    font-size: 24px;
    position: absolute;
    font-weight: bold;
    top: 47%;
    left: 57%;
}

#hero .cta-button {
    background-color: rgb(144, 87, 27);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 19px 12px;
    font-size: 24px;
    position: absolute;
    top: 80%;
    left: 70%;
    padding: 16px;
    padding-right: 12px;
}
/* Ending hero *******************************************************/

/* Beginning navbar ****************************************************/
#navbar {
    display: flex;
    background-color: aquamarine; 
    justify-content: space-between;
    align-items: center; 
}

#navbar a h2 {
    width: 200px;
    font-size: 32px;
    margin-left: 14px;
    font-family: "Spicy Rice", serif;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 19px;
    font-size: 20px;
}

#navbar .cta-button {
    background-color: rgb(144, 87, 27);
    color: white;
    border-radius: 36px;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    min-width: 10px;
    margin-right: 58px;
    padding-bottom: 12px;
}

#navbar-bottom {
    display: flex;
    background-color: brown;
    justify-content: space-between;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    margin-right: 36px;
    margin-left: 50px;
}

#header {
    position: sticky;
    top: 0px;
    z-index: 1;
}
/* Ending navbar *****************************************************/

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    margin-bottom: 16px;
    margin-top: 24px;
}

.side-by-side {
    display: flex;
    text-align: center;
}

.side-by-side .image-container {
    flex: 3;
    padding-left: 10px;
}

.side-by-side .text-container {
    flex: 3;
    padding: 6px;
}

.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 24px;
    text-align: center;
    padding: 6px;
    margin-left: 18px;
}

.side-by-side .text-container a {
    display: inline-block;
    text-decoration: none;
    background-color: brown;
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 12px;
    border-radius: 40px;
}

#three-card-container {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    margin: 12px;
    gap: 30px;
}

.card img {
   width: 100%;
}

#three-card-container h4 {
    font-size: 32px;
    margin: 36px;
    text-align: center;
}

#main-section-2 {
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 50px;
}

.side-by-side .text-container h1 {
    font-size: 33px;
    padding: 6px;
    margin-top: 24px;
}

.side-by-side .text-container h5 {
    font-size: 28px;
    padding: 16px;
    margin: 12px 0px;
}

/* beginning footer ***************************************************/
/* end footer *********************************************************/

#menu {
    display: flex;
    grid-template-columns: 1fr 1fr
}

#sidebar-content a {
    display: flex;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    color: black;
    padding: 10px;
}

#sidebar-content {
    font-size: 20px;
    width: 260px;
    padding: 24px;
    background: linear-gradient(
        rgb(145, 147, 255), 
        rgb(57, 4, 47)
    );
}

#sidebar-content h2 a {
    font-weight: bold;
    font-size: 28px;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

#main-content {
    font-size: 20px;
    padding-left: 16px;
    text-align: center;
}

#menu #main-content img {
    width: 65%;
    margin-top: 34px;
}

#menu #main-content .name {
    padding: 36px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

#menu #main-content h3 {
    font-size: 28px;
    padding: 22px;
    margin: 26px;
}

#main-content .name p {
    padding-bottom: 0px;
    font-size: 30px;
}

#menu #centered-column {
    width: 50vw;
}

#side-by-side {
    display: flex;
}
/* cards ******************************************************************/
#centered-column {
    display: flex;
    flex-direction: row;
    width: 80vw;
    max-width: 100px;
    margin-right: 26px;
    padding-left: 180px;
    align-items: center;
}

#menu #centered-column {
    width: 100%;
}

#menu #centered-column img {
    width: 110%;
    padding: 26px;
}

#menu #centered-column .card h2 {
    font-size: 40px;
    padding-left: 16px;
    margin-bottom: 24px;
}

#menu #centered-column .card h4{
    font-size: 26px;
    padding-left: 0px;
    margin: 16px;
}

#menu #centered-column .card h3 {
    font-size: 36px;
    padding-left: 24px;
}

#menu #main-content h2 {
    font-size: 42px;
    border-bottom: 2px solid black;
    margin: 28px;
    padding: 16px;
}

#menu #main-content h1 {
    font-size: 40px;
    margin: 26px;
    padding: 12px;
    border-bottom: 2px solid black;
}