* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    /* begin basic hero setup */
    background-image: url("../images/hot-air-balloon.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* must be applied to container */
    position: relative;
    /* margin-bottom: 100px */
}

.hero-content {
    font-size: 44px;
}

.hero-container h1 {
    font-size: 100px;
    position: absolute;
    top: 18%;
    left: 25%;
}

.hero-container h4 {
    font-size: 48px;
    position: absolute;
    left: 29%;
    top: 34%;
}

.hero-container a {
    color: white;
    position: absolute;
    left: 35%;
    top: 51%;
    font-size: 30px;
    text-decoration: none;
}

#hero-2 {
    /* begin basic hero setup */
    background-image: url("../images/space.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: center;
    align-items: center;
    /* must be applied to container */
    position: relative;
    /* margin-bottom: 100px */
}

#hero-2 .hero-content {
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
}

#hero-2 h2 {
    color: aliceblue;
    position: absolute;
    font-size: 105px;
    left: 41%;
    bottom: 58%;
}

#hero-2 h3 {
    text-align: center;
    position: absolute;
    font-size: 48px;
    left: 35%;
    top: 29%;
}

.hero-content a {
    display: inline-block;
    text-decoration: none;
    color: #212121;
    font-size: 36px;
    background-color: aliceblue;
    padding: 20px;
    margin-top: 6px;
    margin-right: 16px;
}

#hero-3 {
    /* begin basic hero setup */
    background-image: url("../images/roses.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: center;
    align-items: center;
    /* must be applied to container */
    position: relative;
    /* margin-bottom: 100px */
}

.hero-container {
    font-size: 50px;
}

.hero-inside h5 {
    position: absolute;
    font-size: 100px;
    top: 12%;
    left: 56%;
}

.hero-inside h6 {
    position: absolute;
    font-size: 45px;
    top: 34%;
    left: 50%;
}

.hero-inside a {
    color: rgb(41, 41, 41);
    position: absolute;
    left: 57%;
    top: 54%;
    font-size: 36px;
    text-decoration: none;
}