* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        #ffb471,
        #714306
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
}

#navbar #logo {
    font-size: 26px;
    margin-right: auto;
    margin-left: 16px;
    font-weight: bold;
}

#navbar a:hover {
    background-color: #e0a05b;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #c2802a;
    width: 100%;
    min-width: 200px;
}

.dropdown-menu a:hover {
    background: #ff9100;
}

#navbar .dropdown-menu a:hover {
    background: #ffd986;
}

/* basic hero layout ********************************************/
#hero {
    background-image: url("../images/dog-picture.webp");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* must be applied to container */
    position: relative;
    z-index: -1;
}

#hero-container h2 {
    color: black;
    position: absolute;
    font-size: 33px;
    top: 36%;
    left: 4%;
}

#hero a {
    background-color: #ffb459;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 12px;
    position: absolute;
    left: 18%;
    top: 50%;
}
/* end hero **********************************************************/

#layout {
    background-color: rgb(255, 187, 103);
    border-radius: 12px;
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

#layout h2 {
    font-size: 42px;
    margin: 18px;
    padding-top: 20px;
}

#layout img {
    width: 84%;
}

#layout p {
    font-size: 18px;
    margin: 18px;
    padding-bottom: 14px;
}