
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Text:ital@0;1&family=Emilys+Candy&family=Jua&family=Maname&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ovo&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/dog-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        #fcbe88,
        #593507
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
}

#navbar #logo {
    font-family: "Jua", sans-serif;
    font-size: 26px;
    margin-right: auto;
    margin-left: 16px;
    font-weight: bold;
}

#navbar a:hover {
    background-color: #e0a05b;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #c2802a;
    width: 100%;
    min-width: 200px;
}

.dropdown-menu a:hover {
    background: #ff9100;
}

#navbar .dropdown-menu a:hover {
    background: #ffd986;
}

/* basic hero layout ********************************************/
#hero {
    background-image: url("../images/dog-picture.webp");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* must be applied to container */
    position: relative;
    z-index: -1;
}

#hero-container h2 {
    color: black;
    position: absolute;
    font-size: 33px;
    font-family: "Jua", sans-serif;
    top: 36%;
    left: 2%;
}

#hero a {
    background-color: #ffbe6e;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: "Jua", sans-serif;
    padding: 12px;
    position: absolute;
    left: 16%;
    top: 54%;
}
/* end hero **********************************************************/

#layout {
    background-color: rgb(255, 193, 123);
    border-radius: 12px;
    width: 50%;
    padding: 4px;
    margin: 48px auto;
    text-align: center;
    
}

#layout h2 {
    font-size: 40px;
    font-family: "Jua", sans-serif;
    margin: 18px;
    padding-top: 2px;
}

#layout img {
    width: 70%;
}

#layout p {
    font-size: 18px;
    margin: 18px;
    padding-bottom: 14px;
}

#layout h4 {
    font-size: 18px;
}

.parallax-banner {
    height: 50vh;
    margin: 100px 0px;
    background-image: url("../images/dog-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#hero-2 {
    background-image: url("../images/volunteer.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* must be applied to container */
    position: relative;
    z-index: -1;
}

#hero-3 {
    background-image: url("../images/donate.webp");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    /* end basic hero setup */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* must be applied to container */
    position: relative;
    z-index: -1;
}